@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Sorts+Mill+Goudy');

/* Global Styling */

body {
    background-color: lightcoral;
    font-family: 'Sorts Mill Goudy', serif;
}

/* Typography */

h1, h2, h3 {
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

header {
    position: fixed;
    background-color: rgba(0, 219, 219, 0.57);
    width: 100%;
    top: 0;
    margin: 0;
}

/* layout */

.page-wrapper {
    background-color: peachpuff;
    margin: 0 auto;
    width: 95%;
}

#zen-intro {
    background-color: green;
}

#zen-supporting {
    background-color: lightseagreen;
}

.sidebar {
    background-color: lavenderblush; 
}

/* Media Queries */

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
/* End Mobile */
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }
/* End Tablet */
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }
/* End Desktop */
}